html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* Sağa sola sallanmayı külliyen engeller */
  background-color: #080c14;
}

* {
  box-sizing: border-box; /* Elemanların dışarı taşmasını önler */
}
